 *{direction: rtl;
text-align:right;
box-sizing: border-box;
font-family: Arial;
font-weight: bold;} 

div.header input{display: inline;
            right
            : 2000px;}

header{background-color: lightgrey;}
/*
header input{direction: ltr; text-align: left;
position: absolute;
       top:40px;
       left: 10px;}
header a{direction: ltr; text-align: left;
            margin-left: 0px;}
*/
header img{margin-top: 100px;
            margin-right: 10px;}


nav{direction: rtl;
    text-align:right;
    background: lightgray;
    text-align: center;
    /*border: 1px solid red;*/}

nav ul li{display: inline-block;
text-decoration : none;
border-right: 2px;}



.image_right{float: right;
            direction: right;
            width: 33%;
            text-align: right;border: 1px solid red;}

.image_center{float: right;
            direction: right;
            width: 33%;
            text-align: right;border: 1px solid red;}


.image_left{float: right;
            direction: right;
            width: 33%;
            text-align: right;border: 1px solid red;}


.image_bottom_right{float: right;
            direction: right;
            width: 33%;
            text-align: right;
            border: 1px solid red;}
            
.image_bottom_center{float: right;
            direction: right;
            width: 33%;
            text-align: right;
            border: 1px solid red;}

.image_bottom_left{float: right;
            direction: right;
            width: 33%;
            text-align: right;
            border: 1px solid red;}

footer{/*position:fixed;*/
        border: 4px solid red;
        width:100%;
       /*margin-bottom: 0px;*/
        clear: float;}