/* *{direction: rtl;
text-align:right;} */


nav{direction: rtl;
    text-align:right;
    background: lightgray;
    text-align: center;
    /*border: 1px solid red;*/}

nav ul li{display: inline-block;
text-decoration : none;
border-right: 2px;}



.image_right{float: right;
            direction: right;
            text-align: right;border: 1px solid red;}

.image_center{float: right;
            direction: right;
            text-align: right;border: 1px solid red;}


.image_left{float: right;
            direction: right;
            text-align: right;border: 1px solid red;}